--
-- PostgreSQL database dump
--

-- Dumped from database version 15.12 (Debian 15.12-1.pgdg120+1)
-- Dumped by pg_dump version 15.12 (Debian 15.12-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Productos_categoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Productos_categoria" (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public."Productos_categoria" OWNER TO postgres;

--
-- Name: Productos_categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Productos_categoria" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Productos_categoria_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Productos_inventario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Productos_inventario" (
    id bigint NOT NULL,
    stock integer NOT NULL,
    cantidad_minima integer NOT NULL,
    cantidad_maxima integer NOT NULL,
    producto_id bigint NOT NULL
);


ALTER TABLE public."Productos_inventario" OWNER TO postgres;

--
-- Name: Productos_inventario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Productos_inventario" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Productos_inventario_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Productos_producto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Productos_producto" (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    precio_compra numeric(10,2) NOT NULL,
    precio_venta numeric(10,2) NOT NULL,
    descripcion text NOT NULL,
    imagen character varying(100),
    categoria_id bigint NOT NULL,
    proveedor_id bigint NOT NULL
);


ALTER TABLE public."Productos_producto" OWNER TO postgres;

--
-- Name: Productos_producto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Productos_producto" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Productos_producto_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Productos_proveedor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Productos_proveedor" (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public."Productos_proveedor" OWNER TO postgres;

--
-- Name: Productos_proveedor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Productos_proveedor" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Productos_proveedor_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Usuarios_bitacora; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Usuarios_bitacora" (
    id bigint NOT NULL,
    accion character varying(100) NOT NULL,
    ip inet NOT NULL,
    fecha date NOT NULL,
    hora time without time zone NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public."Usuarios_bitacora" OWNER TO postgres;

--
-- Name: Usuarios_bitacora_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Usuarios_bitacora" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Usuarios_bitacora_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Usuarios_usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Usuarios_usuario" (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    nombre character varying(100) NOT NULL,
    correo character varying(254) NOT NULL,
    fecha_de_nacimiento date,
    genero character varying(20),
    estado boolean NOT NULL,
    direccion text,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL
);


ALTER TABLE public."Usuarios_usuario" OWNER TO postgres;

--
-- Name: Usuarios_usuario_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Usuarios_usuario_groups" (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public."Usuarios_usuario_groups" OWNER TO postgres;

--
-- Name: Usuarios_usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Usuarios_usuario_groups" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Usuarios_usuario_groups_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Usuarios_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Usuarios_usuario" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Usuarios_usuario_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Usuarios_usuario_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Usuarios_usuario_user_permissions" (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public."Usuarios_usuario_user_permissions" OWNER TO postgres;

--
-- Name: Usuarios_usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."Usuarios_usuario_user_permissions" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Usuarios_usuario_user_permissions_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Data for Name: Productos_categoria; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Productos_categoria" (id, nombre) FROM stdin;
1	celulares
2	televisores
3	electrodomesticos
\.


--
-- Data for Name: Productos_inventario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Productos_inventario" (id, stock, cantidad_minima, cantidad_maxima, producto_id) FROM stdin;
\.


--
-- Data for Name: Productos_producto; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Productos_proveedor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Productos_proveedor" (id, nombre) FROM stdin;
1	Sony
2	samsung
\.


--
-- Data for Name: Usuarios_bitacora; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Usuarios_usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Usuarios_usuario_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Usuarios_usuario_groups" (id, usuario_id, group_id) FROM stdin;
\.


--
-- Data for Name: Usuarios_usuario_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Usuarios_usuario_user_permissions" (id, usuario_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	Usuarios	usuario
7	Usuarios	bitacora
8	Productos	categoria
9	Productos	proveedor
10	Productos	producto
11	Productos	inventario
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Productos_categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Productos_categoria_id_seq"', 3, true);


--
-- Name: Productos_inventario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Productos_inventario_id_seq"', 1, false);


--
-- Name: Productos_producto_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Productos_producto_id_seq"', 6, true);


--
-- Name: Productos_proveedor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Productos_proveedor_id_seq"', 2, true);


--
-- Name: Usuarios_bitacora_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Usuarios_bitacora_id_seq"', 14, true);


--
-- Name: Usuarios_usuario_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Usuarios_usuario_groups_id_seq"', 1, false);


--
-- Name: Usuarios_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Usuarios_usuario_id_seq"', 23, true);


--
-- Name: Usuarios_usuario_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Usuarios_usuario_user_permissions_id_seq"', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 44, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 11, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 22, true);


--
-- Name: Productos_categoria Productos_categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Productos_categoria"
    ADD CONSTRAINT "Productos_categoria_pkey" PRIMARY KEY (id);


--
-- Name: Productos_inventario Productos_inventario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Productos_inventario"
    ADD CONSTRAINT "Productos_inventario_pkey" PRIMARY KEY (id);


--
-- Name: Productos_inventario Productos_inventario_producto_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Productos_inventario"
    ADD CONSTRAINT "Productos_inventario_producto_id_key" UNIQUE (producto_id);


--
-- Name: Productos_producto Productos_producto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Productos_producto"
    ADD CONSTRAINT "Productos_producto_pkey" PRIMARY KEY (id);


--
-- Name: Productos_proveedor Productos_proveedor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Productos_proveedor"
    ADD CONSTRAINT "Productos_proveedor_pkey" PRIMARY KEY (id);


--
-- Name: Usuarios_bitacora Usuarios_bitacora_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_bitacora"
    ADD CONSTRAINT "Usuarios_bitacora_pkey" PRIMARY KEY (id);


--
-- Name: Usuarios_usuario Usuarios_usuario_correo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario"
    ADD CONSTRAINT "Usuarios_usuario_correo_key" UNIQUE (correo);


--
-- Name: Usuarios_usuario_groups Usuarios_usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario_groups"
    ADD CONSTRAINT "Usuarios_usuario_groups_pkey" PRIMARY KEY (id);


--
-- Name: Usuarios_usuario_groups Usuarios_usuario_groups_usuario_id_group_id_974fbf5c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario_groups"
    ADD CONSTRAINT "Usuarios_usuario_groups_usuario_id_group_id_974fbf5c_uniq" UNIQUE (usuario_id, group_id);


--
-- Name: Usuarios_usuario Usuarios_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario"
    ADD CONSTRAINT "Usuarios_usuario_pkey" PRIMARY KEY (id);


--
-- Name: Usuarios_usuario_user_permissions Usuarios_usuario_user_pe_usuario_id_permission_id_d113e22f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario_user_permissions"
    ADD CONSTRAINT "Usuarios_usuario_user_pe_usuario_id_permission_id_d113e22f_uniq" UNIQUE (usuario_id, permission_id);


--
-- Name: Usuarios_usuario_user_permissions Usuarios_usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario_user_permissions"
    ADD CONSTRAINT "Usuarios_usuario_user_permissions_pkey" PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: Productos_producto_categoria_id_4f5862b8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Productos_producto_categoria_id_4f5862b8" ON public."Productos_producto" USING btree (categoria_id);


--
-- Name: Productos_producto_proveedor_id_7aab840b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Productos_producto_proveedor_id_7aab840b" ON public."Productos_producto" USING btree (proveedor_id);


--
-- Name: Usuarios_bitacora_usuario_id_767a73bf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Usuarios_bitacora_usuario_id_767a73bf" ON public."Usuarios_bitacora" USING btree (usuario_id);


--
-- Name: Usuarios_usuario_correo_417b5bf3_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Usuarios_usuario_correo_417b5bf3_like" ON public."Usuarios_usuario" USING btree (correo varchar_pattern_ops);


--
-- Name: Usuarios_usuario_groups_group_id_cf7bd56f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Usuarios_usuario_groups_group_id_cf7bd56f" ON public."Usuarios_usuario_groups" USING btree (group_id);


--
-- Name: Usuarios_usuario_groups_usuario_id_f3985b6d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Usuarios_usuario_groups_usuario_id_f3985b6d" ON public."Usuarios_usuario_groups" USING btree (usuario_id);


--
-- Name: Usuarios_usuario_user_permissions_permission_id_4a44c74d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Usuarios_usuario_user_permissions_permission_id_4a44c74d" ON public."Usuarios_usuario_user_permissions" USING btree (permission_id);


--
-- Name: Usuarios_usuario_user_permissions_usuario_id_9d2fc700; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Usuarios_usuario_user_permissions_usuario_id_9d2fc700" ON public."Usuarios_usuario_user_permissions" USING btree (usuario_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: Productos_inventario Productos_inventario_producto_id_8c637d25_fk_Productos; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Productos_inventario"
    ADD CONSTRAINT "Productos_inventario_producto_id_8c637d25_fk_Productos" FOREIGN KEY (producto_id) REFERENCES public."Productos_producto"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Productos_producto Productos_producto_categoria_id_4f5862b8_fk_Productos; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Productos_producto"
    ADD CONSTRAINT "Productos_producto_categoria_id_4f5862b8_fk_Productos" FOREIGN KEY (categoria_id) REFERENCES public."Productos_categoria"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Productos_producto Productos_producto_proveedor_id_7aab840b_fk_Productos; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Productos_producto"
    ADD CONSTRAINT "Productos_producto_proveedor_id_7aab840b_fk_Productos" FOREIGN KEY (proveedor_id) REFERENCES public."Productos_proveedor"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Usuarios_bitacora Usuarios_bitacora_usuario_id_767a73bf_fk_Usuarios_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_bitacora"
    ADD CONSTRAINT "Usuarios_bitacora_usuario_id_767a73bf_fk_Usuarios_usuario_id" FOREIGN KEY (usuario_id) REFERENCES public."Usuarios_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Usuarios_usuario_groups Usuarios_usuario_gro_usuario_id_f3985b6d_fk_Usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario_groups"
    ADD CONSTRAINT "Usuarios_usuario_gro_usuario_id_f3985b6d_fk_Usuarios_" FOREIGN KEY (usuario_id) REFERENCES public."Usuarios_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Usuarios_usuario_groups Usuarios_usuario_groups_group_id_cf7bd56f_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario_groups"
    ADD CONSTRAINT "Usuarios_usuario_groups_group_id_cf7bd56f_fk_auth_group_id" FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Usuarios_usuario_user_permissions Usuarios_usuario_use_permission_id_4a44c74d_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario_user_permissions"
    ADD CONSTRAINT "Usuarios_usuario_use_permission_id_4a44c74d_fk_auth_perm" FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: Usuarios_usuario_user_permissions Usuarios_usuario_use_usuario_id_9d2fc700_fk_Usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Usuarios_usuario_user_permissions"
    ADD CONSTRAINT "Usuarios_usuario_use_usuario_id_9d2fc700_fk_Usuarios_" FOREIGN KEY (usuario_id) REFERENCES public."Usuarios_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_Usuarios_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT "django_admin_log_user_id_c564eba6_fk_Usuarios_usuario_id" FOREIGN KEY (user_id) REFERENCES public."Usuarios_usuario"(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

